/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root */
:root{
    --tomato:#ff6347;
    --black:#000;
    --white:#fff;
    --grey: dimgray;
}

/* utility */
.pos-ab{
    position: absolute;
}
.flex{
    display: flex;
}
/* font  */
@font-face {
    font-family: outfit-bold;
    src: url('./font/ttf/Outfit-Bold.ttf');
}
@font-face {
    font-family: outfit-thin;
    src: url('./font/ttf/Outfit-Thin.ttf');
}
@font-face {
    font-family: outfit-light;
    src: url('./font/ttf/Outfit-Light.ttf');
}
@font-face {
    font-family: outfit-medium;
    src: url('./font/ttf/Outfit-Medium.ttf');
}
@font-face {
    font-family: outfit-regular;
    src: url('./font/ttf/Outfit-Regular.ttf');
}
@font-face {
    font-family: outfit-extrabold;
    src: url('./font/ttf/Outfit-ExtraBold.ttf');
}


/* main */
main{
    width: 80%;
    margin: auto;
}


/* nav */
.top-heading{
    font-family: outfit-regular;
    justify-content: space-between;
    align-self: center;
    padding: 20px 0px;
    height: 95px;
    margin: auto;
}
.heading{
    font-family: outfit-bold;
    align-self: center;
    font-size: 30px;
    color: var(--tomato);
}
.un-list{
    gap: 40px;
    list-style-type: none;
    align-self: center;
}
.un-list a{
    text-decoration: none;
    color: var(--black);
}
.fa-btns{
    gap: 40px;
    font-size: 25px;
    align-self: center;
}
.sign-btn{
    font-family: outfit-regular;
    border: 1px solid var(--tomato);
    padding: 10px 20px;
    border-radius: 25px;
    background:none;
}
.sign-btn:hover{
    background-color: var(--tomato);
    color: var(--white);
}
.un-list a:hover{
    /* border-bottom: 2px solid rgba(72, 80, 129, 0.803) ;
    translate:0.5 ease-in-out; */
    color: var(--tomato);
    
}

/* hero */

.hero{
    position: relative;
    width: 100%;
    height: 35vw;
    background: url("./assets/header_img.png") no-repeat ;
    background-size: cover;
    border-radius:10px ;
    margin: 20px auto;
}

.hero-content{
    font-family: outfit-regular;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    align-self: center;

}
.hero-content h2{
    font-family: outfit-medium;
    line-height: 75px;
    font-weight: 500;
    color: var(--white);
    font-size: max(4vw,22px);
    font-size: 57px;
}
.hero-content p{
    line-height: 17px;
    color: var(--white);
    font-size: 14px;
    padding: 10px 0px;
}
.view-menu{
    font-family: outfit-regular;
    border: 1px solid white;
    padding: 15px 30px;
    border-radius: 25px;
    color: var(--grey);
}
.view-menu:hover{
    background:var(--tomato);
    color: var(--white);
    border: var(--tomato);

}
hr{
    width: 100%;
    margin: 10px 0px;
}
/* article */

#food-sample{
    flex-direction: column;
    gap: 20px;
    font-family: outfit-medium;
    align-items: flex-start;
}

.sample{
    gap: 30px;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
    margin: 20px 0px;
}
.sample-img img{
    border-radius: 50%; 
    /* object-fit: none; */
    margin: 20px auto;
}
.sample-content{
    text-align: center;
    font-family: outfit-medium;
    color: var(--grey);
}
.sample-content{
    margin-bottom: 10px;
}
.sample-content img:hover{
    border: 5px solid tomato;
}

.food-sample p{
    max-width: 60%;
}

/* menu */


.menu-parent:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px #00000026;
}
.menu-content{
    width: 100%;
    height: 100%;
    font-family: outfit-regular;
}
.menu-content h2{
    margin-bottom: 10px;
}
.menu{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 50px;
}
.menu-parent{
    /* width: 260px;
    height: 420px; */
    flex: 1 1 240px; /* This allows items to grow and shrink with a base size of 240px */
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
   box-shadow: 0px 0px 10px #00000015;
   border-radius: 0 0 14px 14px;
   transition: transform 0.3s ease-in, box-shadow 0.3s ease-in, box-shadow 1s ease-out;

}
#add{
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
}
.dish-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    /* display: block; */
}
.menu-img{
    position: relative;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    cursor: pointer;

}
.dish-name-rating{
    margin-bottom:10px ;
    justify-content: space-between;
    align-items: center;
}
.dish-name-rating p{
    font-weight: 500;
    font-size: 20px;
    font-family: outfit-regular;
}
.dish-name-rating img{
    width: 70px;
}
.about-food{
    font-family: outfit-regular;
    font-size: 14px;
    color: #676767;
    text-align: justify;

}
#cost{
    font-family: outfit-bold;
    margin: 10px 0px;
    font-size: 22px;
    color: var(--tomato);
}
.menu-child{
    padding: 20px;
}
#add{
    width: 35px;
}
/* download plaform */

#download-platform{
    text-align: center;

}
#download-platform p{
    margin: 100px auto auto;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 400;
    font-family: outfit-extrabold;
}
#download-platform img{
    width: 180px;
    height: 60px;
    margin: 30px 20px 40px 0px;
    transform: translate(0.5s);
    transition: 0.5s ease-in-out;
}
#download-platform img:hover{
    width: 200px;
    transform: scale(1.1)
}
/* footer */
footer{
    background-color: #000000cb;
    padding: 10px 0px;
}
#about-us{
    padding: 50px 0px;
    font-family: outfit-regular;
    text-align: start;
    font-size: 20px;
    width: 100%;
    justify-content: space-around;
    color: var(--white);
}
.fast-link li{
    list-style-type: none;
}
.fast-link a{
    text-decoration: none;
    color: var(--white);
}
.social-media i{
    color: var(--white);
}
.copy-right{
    padding: 5px;
    background-color: rgba(19, 17, 17, 0.897);
    color: var(--white);
    font-family: outfit-regular;
    text-align: center;
}


/* sizing  1030*/
@media (max-width:1030px) {
    .hero-content h2 {
        font-family: outfit-medium;
        line-height: 50px;
        font-weight: 500;
        color: var(--white);
        font-size: max(4vw,22px);
        font-size: 57px
    }
    .sample-img img{
        width: 80px;
        height:80px;

    }
}

/* sizing  900*/
@media (max-width:900px) {

        .fa-btns {
            gap: 20px;
            font-size: 22px;
            align-self: center;
        }
        .un-list {
            gap: 20px;
        }
        .food-sample p{
            max-width: 69%;
            display: inline;
            font-size: small;
            color: #000000db;
            line-height: 18px;
        }
        .hero-content h2 {
                font-family: outfit-medium;
                line-height: 40px;
                font-weight: 500;
                color: var(--white);
                font-size: 35px;
                max-width: 77%;
        }
        .menu-parent{
            max-width: none;
        }
        .view-menu {
            padding: 10px 12px;
        }
        .hero-content p {
            font-size: 11px;
        }
        .hero-content {
            bottom: 3%;
        }
        .sample-img img{
            width: 80px;
            height:80px;
            margin: 10px auto;
        }
        #about-us{
            font-size: 10px;
            line-height: 15px;
        }
        #download-platform img {
            margin: 30px 20px 40px 0px;
            width: 160px;
        }
    }
/* sizing  500*/

@media (max-width:500px) {

    .fa-btns {
        gap: 20px;
        font-size: 22px;
        align-self: center;
    }
    .un-list {
        display: none;
    }
    .food-sample p{
        max-width: 100%;
        display: inline;
        font-size: small;
        color: #000000db;
        line-height: 16px;
    }
    .hero-content h2 {
        font-family: outfit-medium;
        line-height: 22px;
        color: var(--white);
        font-size: 19px;
        max-width: 100%;
    }
    .menu-parent{
        max-width: none;
    }
    .view-menu {
        padding: 6px 7px;
        font-size: 10px;
    }
    .hero-content p {
        display: none;
    }
    .hero-content {
        bottom: 22px;
    }
    .sample-img img{
        width: 80px;
        height:80px;
        margin: 10px auto;
    }
    #about-us{
        font-size: 10px;
        line-height: 15px;
    }
    #download-platform img {
        margin: 20px 20px 40px 0px;
        width: 130px;
    }
    #about-us h2{
        font-size: 15px;
    }
    .copy-right{
        font-size: 10px;
    }
}
